nav {
    background-color: var(--color-primario-sombra);
    display: grid;
    grid-template-columns: 244px auto 244px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px 3px -2px;
    color: var(--color-secundario-luces);
    font-size: 24px;
    font-family: var(--fuente-texto);
    font-weight: bold;
    height: 80px;
}

nav a { 
    text-decoration: none;
    color: var(--color-secundario-luces);
}

nav li {
    list-style: none;
}

nav .contenedor-izq {
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 10px;
}

nav .contenedor-izq img {
    cursor: pointer;
    width: 45px;
    height: 45px;
}

nav .contenedor-izq li a {
    color: var(--color-secundario-luces);
    text-decoration: none;
    font-size: 24px;
}

nav .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .contenedor-titulo img {
    width: 50px;
}

nav .contenedor-der {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

nav .contenedor-der img {
    cursor: pointer;
    width: 48px;
    height: 48px;
}

@media (max-width: 600px) {
nav {
    background-color: var(--color-primario-sombra);
    display: grid;
    grid-template-columns: 24px auto 24px;
}

nav .carrito {
    display: none;
}

}