.contenedor-reg{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.contenedor-form-reg {
    background-color: var(--color-primario-sombra);
    display: flex;
}

.contenedor-form-reg .contenedor-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contenedor-form-reg .contenedor-redes img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .1s;
}

.contenedor-form-reg .contenedor-redes img:hover {
    transform: scale(120%);
    transition: .1s;
}


.contenedor-form-reg form {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border: 1px solid white;
    border-radius: 8px;
    gap: 20px;
    color: var(--color-acento);
    font-size: 15px;
}

.contenedor-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0 10px 0;
}

.contenedor-form-reg form .contenedor-links a {
    text-decoration: none;
    color: var(--color-acento);
    font-size: 15px;
    text-decoration: none;
}


.contenedor-form-reg form input {
    height: 30px;
    background-color: var(--color-primario-sombra);
    border: 1px solid white;
    border-radius: 8px;
    color: var(--color-acento);
}

.contenedor-form-reg form .enviar {
    height: 30px;
    background-color: var(--color-secundario);
    border: 1px solid white;
    border-radius: 8px;
    color: var(--color-primario-sombra);
    font-size: 15px;
    text-decoration: none;
    transition: .2s;
}

.contenedor-form-reg form .enviar:hover {
    background-color: var(--color-primario-sombra);
    border: 1px solid var(--color-secundario);
    transition: .2s;
    cursor: pointer;
    color: var(--color-secundario);
}

.contenedor-reg{
    margin: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor-reg .contenedor-captcha {
    display: flex;
    justify-content: center;
} 

.contenedor-captcha .captcha {
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid white;
}

.contenedor-captcha .captcha input {
    cursor: pointer;
}

.contenedor-captcha .captcha img {
    height: 60px;
    width: auto;
}
