nav {
    background-color: var(--color-primario-sombra);
    display: grid;
    grid-template-columns: 10% 70% 10%;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px 3px -2px;
    color: var(--color-secundario-luces);
    font-size: 24px;
    font-family: var(--fuente-texto);
    font-weight: bold;
    height: 80px;
}

nav a { 
    text-decoration: none;
    color: var(--color-secundario-luces);
}

nav li {
    list-style: none;
}

nav .contenedor-izq {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .contenedor-izq img {
    cursor: pointer;
}

nav .contenedor-izq li a {
    color: var(--color-secundario-luces);
    text-decoration: none;
    font-size: 24px;
}

nav .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .contenedor-titulo img {
    width: 50px;
}